{% extends 'base.html' %}
{% load static %}
{% block title %} Мээрим Ирисмаматова {% endblock title %}
  
{% block content %}

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 order-md-2">
          <div class="block-16">
            <figure>
              <img src="{% static 'images/author.jpg' %}" alt="Image placeholder" class="img-fluid ">
      
  
            </figure>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
  
  
          <div class="site-section-heading pt-3 mb-4">
            <h2 class="text-black">"MySQL каражаттары менен дарыкана кампасынын дүң жана чекене соодасынын маалыматтар базасын түзүү" </h2>
          </div>
          <p class="text-black">
            <h5> <i> Аткарган «ИСТ(б)-2-18р» гр. студенти: Ирисмаматова Мээрим Алмазбековна. <br> Web разработчик болуп ITCBootcamp билим берүү мекемесинде иштейт</i> </h5>

            </p>

            <p>Информациялык технологиялар жана программалоо кафедрасы. Автор: Ирисмаматова Мээрим Алмазбековна</p>
  
        </div>
      </div>
    </div>
  </div>
  


{% endblock content %}
